@media (min-width: 1200px) {
    *{
        font-family: poppins;
    }
    }
    @font-face {
        font-family: 'Poppins';
        src: url(../font/Poppins-Regular.ttf);
    }

    /* Base */
    #base {
        background-image: url(bg1.jpeg);
        padding-top: 20px;
        padding-bottom: 85px;
        border-image-width: 100%;
    }

    #base .wadahluar {
        background-color: rgba(128, 128, 128, 0.6);
        height: 632px;
        width: auto;
        padding: 38px;
        margin-top: 84px;
       
background: rgba(255, 255, 255, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    }

    #base .wadahluar .btn-primary {
        height: 165px;
        width: 245px;
        border-radius: 16px;
        background-color: white;
        border: none;
    }

    #base .btnadd img {
        margin-bottom: 5px;
        height: 120px;
        
    }

    #base .title {
        background-color: #32599C;
        height: 165px;
        border-radius: 16px;
        text-align: center;
        font-weight: 600;
        align-self: center;
    }

    #base .title h1 {
        padding-top: 52.5px;
        color: white;
        font-size: 50px;
    }

    #base .btn-success {
        margin-top: 31px;
        height: 165px;
        width: 245px;
        border-radius: 16px;
    }

    #base .btnbook img {
        margin-top: 5px;
        margin-bottom: 14px;
        width: 61px;
    }

    #base .btn-danger {
        margin-top: 31px;
        height: 165px;
        width: 245px;
        border-radius: 16px;
    }

    #base .btnid img {
        margin-top: 10px;
        margin-bottom: 14px;
        width: 75px;
    }

    #base .btnleft {
        color: #408458;
        background-color: white;
        border-radius: 50px;
  
        font-size: 40px;
        margin-right: auto;
        width: 34px;
        height: 34px;
    }

    #base .btnright {
        color: #408458;
        background-color: white;
        border-radius: 50px;

        font-size: 40px;
        margin-left: auto;
        width: 34px;
        height: 34px;
    }

    #base .carousel {
        margin-top: 15.5px;
    }

    #base .carousel-inner img {
        width: 875px;
        height: 361px;
        object-fit: cover;
        border-radius: 16px;
    }

    #base .layer {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.59), rgba(196, 196, 196, 0));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        color: white;
        padding-top: 85px;
        padding-left: 92px;
    }

    #base .layer h1 {
        font-size: 20px;
    }

    #base .layer h2 {
        font-size: 30px;
    }

    #base .carousel-indicators .active {
        background-color: #408458;
    }

    #base .carousel-indicators [data-bs-target] {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-bottom: 34px;
    }

    #base .carousel-indicators {
        justify-content: start;
        height: 7px;
        margin-left: 55px;
        margin-bottom: 34px;
    }

    /* Base2 */
    #base2 {
        background-image: url(bg2.jpeg);
        margin-top: -75px;
        padding-bottom: 85px;
        border-image-width: 100%;   
    }
 
    #base2 .ktp h1{
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 20px;
        color:red;
    }

    #base2 .wadahluar {
        background-color: aquamarine;
        height: auto;
        width: auto;
        padding: 38px;
        margin-top: 84px;

        border-radius: 49px;
background: #e0e0e0;
box-shadow:  35px 35px 68px #bebebe,
             -35px -35px 68px #ffffff;
        /* backdrop-filter: blur(1.5px); */
    }
    
    

    #base2 .wadahkiri {
        height: 360px;
        border-radius: 16px;
        margin-top: 10px;
        margin-left: 12px;
    }

    #base2 .vr {
        height: 360px;
        border-radius: 16px;
        margin-top: 31px;
        margin-left: 12px;
    }

    #base2 .title {
        background-color: #32599C;
        height: 165px;
        border-radius: 16px;
        text-align: center;
        font-weight: 600;
        align-self: center;
    }

    #base2 .title h1 {
        padding-top: 52.5px;
        color: white;
        font-size: 50px;
    }

    #base2 .wadahkanan {
        height: 360px;
        border-radius: 16px;
        margin-top: 31px;
        margin-left: 12px;
    }

    #my_camera button{
        margin-top: 31px;
        margin-left: 42px;
        height: 60%;
        width: 60%;
        border-radius: 16px; 
      
    }
  #my_camera img{
    width: 70%;
    height: 70%;

  }

    #base2 .ulangi {
        margin-top: 31px;
        height: 165px;
        width: 245px;
        border-radius: 16px;
    }

    #base2 .btn-success {
        margin-left: 33px;
    }

    #base2 .btn-danger {
        margin-left: 33px;
    }

    /* Base 3 */
    #base3 {
        background-image: url(bg1.jpeg);
        padding-top: 20px;
        padding-bottom: 85px;
        border-image-width: 100%;
    }

    #base3 .wadahluar {
        background-color: rgba(128, 128, 128, 0.6);
        height: 632px;
        width: auto;
        padding: 38px;
        margin-top: 84px;
        border-radius: 16px;
        
    }

    #base3 .wadahkiri {
        margin-left: 12px;
        margin-top: 31.5px;
        height: auto;
        width: auto;
        border-radius: 16px;
        background-color: white;
        border: none;
    }

    #base3 h3 {
        text-align: center;
        margin-top: 80px;
    }

    #base3 .title {
        background-color: #32599C;
        height: 165px;
        border-radius: 16px;
        text-align: center;
        font-weight: 600;
        align-self: center;
    }

    #base3 .title h1 {
        padding-top: 52.5px;
        color: white;
        font-size: 50px;
    }

    #base3 .form-control {
        margin-top: 31px;
        border-radius: 10px;
        width: auto;
        text-align: center;
        margin-left: 30px;
    }

    #base3 .btn-success {
        margin-left: 75px;
        margin-top: 55px;
    }

    #base3 .btnleft {
        color: #408458;
        background-color: white;
        border-radius: 50px;
        ;
        font-size: 40px;
        margin-right: auto;
        width: 34px;
        height: 34px;
    }

    #base3 .btnright {
        color: #408458;
        background-color: white;
        border-radius: 50px;
        ;
        font-size: 40px;
        margin-left: auto;
        width: 34px;
        height: 34px;
    }

    #base3 .carousel {
        margin-top: 15.5px;
    }

    #base3 .carousel-inner img {
        width: 875px;
        height: 361px;
        object-fit: cover;
        border-radius: 16px;
    }

    #base3 .layer {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.59), rgba(196, 196, 196, 0));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        color: white;
        padding-top: 85px;
        padding-left: 92px;
    }

    #base3 .layer h1 {
        font-size: 20px;
    }

    #base3 .layer h2 {
        font-size: 30px;
    }

    #base3 .carousel-indicators .active {
        background-color: #408458;
    }

    #base3 .carousel-indicators [data-bs-target] {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-bottom: 34px;
    }

    #base3 .carousel-indicators {
        justify-content: start;
        height: 7px;
        margin-left: 55px;
        margin-bottom: 34px;
    }
}