@media (max-width: 1200px) {
    @font-face {
        font-family: "Poppins";
        src: url(./fonts/Poppins/Poppins-Medium.ttf);
    }

    /* Base */
    #base {
        background-image: url(bg1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
        padding-top: 5%;
        padding-bottom: 64%;
        
    }

    #base .wadahluar {
        background-color: rgba(228, 228, 228, 0.4);
        height: auto;
        width: auto;
        padding: 28px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 100px;
        border-radius: 13px;
        backdrop-filter: blur(1.5px);
    }
    #base img{
        height: 100px;
        width: 100px;
        border-radius: 8px;
        background-color: white;
        border: none;
        margin-bottom: 7%;
    }

    #base .btnadd .btn-primary {
        height: 100px;
        width: 100px;
        border-radius: 8px;
        background-color: white;
        border: none;
        margin-bottom: 7%;
    }
    #base .btnadd .btn-primary img {
        height: 50px;
        width: 50px;
        border-radius: 8px;
        background-color: white;
        border: none;
        margin-bottom: 7%;
    }

    #base .title {
        background-color: #32599C;
        height: 100px;
        /* width: 10px; */
        border-radius: 8px;
        text-align: center;
        align-self: center;
        margin-left: 25px;
    }

    #base .title h1 {
        padding-top: 38.5px;
        color: white;
        font-family: 'poppins';
        font-weight: 400;
        font-size: medium;
    }

    #base .btn-success {
        margin-top: 15px;
        height: 95px;
        width: 100px;
        border-radius: 8px;
        float: left;
        position: relative;
    }

    #base .btnbook img {
        height: 50px;
        width: 50px;
        border-radius: 8px;
        background-color: rgb(255, 0, 0);
        border: none;
        margin-bottom: 7%;
    }

    #base .btn-danger {
        margin-top: 15px;
        height: 95px;
        width: 100px;
        border-radius: 8px;
        float: left;
        position: relative;
    }

    #base .btnid img {
        height: 50px;
        width: 50px;
        border-radius: 8px;
        background-color: rgb(148, 0, 0);
        border: none;
        margin-bottom: 7%;
    }
    #base .title  h1{
        font-size: 30px;
        font-family: 'Poppins';
        font-weight: 300;
    }
    #base .text {
        font-size: 8px;
        font-family: 'Poppins';
        font-weight: 300;
    }

    #base .carousel {
        height: auto;
        width: auto;
        margin-top: 1px;
        margin-left: 12px;
        margin-right: 1px;
        margin-bottom: 1px;
    }

    #base .carousel-inner img {
        width: 875px;
        height: 200px;
        object-fit: cover;
        border-radius: 16px;
    }

    #base .layer {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.59), rgba(196, 196, 196, 0));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 93%;
        border-radius: 16px;
        color: white;
        padding-top: 40px;
        padding-left: 50px;
    }
    

    #base .layer h1 {
        font-size: 10px;
        font-family: 'Poppins';
    }

    #base .layer h2 {
        font-size: 15px;
        font-family: 'Poppins';
    }

    #base .carousel-indicators .active {
        background-color: #408458;
    }

    #base .carousel-indicators [data-bs-target] {
        background-color: #408458;
        
    }

    #base .carousel-indicators {
        justify-content: start;
        height: 7px;
        margin-left: 35px;
        margin-bottom: 34px;
    }

    #base .btnright i{
        font-size: 30px;
        color: #408458;
        
    }

    #base .btnleft i{
        color: #408458;
        background-color: white;
        border-radius: 50px;
        font-size: 40px;
        margin-right: auto;
        width: 20px;
        height: 20px;
    }

    
    /* Base2 */
    #base2 .wadahluar {
        /* background-color: rgba(128, 128, 128, 0.6); */
        height: auto;
        width: 100%;
        /* padding: 38px; */
        /* margin-top: 84px; */
        /* border-radius: 16px; */
    }

    #base2 .title {
        background-color: #32599C;
        height: 100px;
        border-radius: 16px;
        text-align: center;
        align-self: center;
        margin-top: 30px;
    }

    #base2 .title h1 {
        padding-top: 6.5%;
        color: white;
        font-size: 50px;
        font-weight: 340;
    }

    #base2 .wadahkiri {
        height: 100%;
        border-radius: 16px;
        margin-top: 31px;
        margin-left: 12px;
    }

   
/* Base 3 */
#base3 {
    background-image: url(bg1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    padding-top: 5%;
    padding-bottom: 64%;
}

#base3 .wadahluar {
    background-color: rgba(228, 228, 228, 0.4);
    height: auto;
    width: auto;
    /* padding: 28px; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
    border-radius: 13px;
    backdrop-filter: blur(1.5px);
    
}

#base3 .wadahkiri {
    margin-left: 12px;
    margin-top: 31.5px;
    height: auto;
    width: auto;
    border-radius: 16px;
    background-color: white;
    border: none;
}

#base3 h3 {
    text-align: center;
    margin-top: 80px;
}

#base3 .title {
    background-color: #32599C;
    height: 220px;
    border-radius: 16px;
    text-align: center;
    font-weight: 600;
    align-self: center;
}

#base3 .title h1 {
    padding-top: 52.5px;
    color: white;
    font-size: 50px;
}

#base3 .form-control {
    margin-top: 31px;
    border-radius: 10px;
    width: auto;
    text-align: center;
    margin-left: 30px;
}

#base3 .btn-success {
    margin-left: 75px;
    margin-top: 55px;
}

#base3 .btnleft i{
    color: #32599C;
    background-color: white;
    border-radius: 50px;
    font-size: 40px;
    margin-right: auto;
    width: 20px;
    height: 20px;
}

#base3 .btnright i{
    font-size: 30px;
    color: #32599C;
}

#base3 .carousel {
    margin-top: 15.5px;
}

#base3 .carousel-inner img {
    width: 875px;
    height: 361px;
    object-fit: cover;
    border-radius: 16px;
}

#base3 .layer {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.59), rgba(196, 196, 196, 0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    color: white;
    padding-top: 85px;
    padding-left: 92px;
}

#base3 .layer h1 {
    margin-left: -50px;
    font-size: 10px;
    font-family: 'Poppins';
}

#base3 .layer h2 {
    margin-left: -50px;
    font-size: 15px;
    font-family: 'Poppins';
}

#base3 .carousel-indicators .active {
    background-color: #408458;
}

#base3 .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 34px;
}

#base3 .carousel-indicators {
    justify-content: start;
    height: 7px;
    margin-left: 55px;
    margin-bottom: 34px;
}
}